<launch>
  <rosparam file="$(find pplanner)/config/pplanner_settings_UnitreeA1Simulator.yaml" command="load" />
  <node name="pplanner" pkg="pplanner" type="pplanner" output="screen" launch-prefix="gdb -ex run --args ">
  </node>

  <include file="$(find pplanner_ui)/launch/pplanner_ui.launch"/>
</launch>
